/*
version:   1.0
date:      20/04/2017
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html, body {
    padding: 0;
    margin: 0;
    display: block;
    min-height: 100%;
}

* {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

*, *:hover, *:active, *:focus {
    outline: none;
}

a:hover, a:active, a.focus {
    text-decoration: none;
    cursor: pointer;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {

}

/*General*/

.c-btn {
    display: inline-block;
    color: #f3fcfe;
    text-align: center;
    border-radius: 4px;
    background-image: -moz-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
    box-shadow: 0px 16px 19.74px 1.26px rgba(210, 210, 210, 0.5);
    width: 153px;
    height: 47px;
    line-height: 47px;
    font-weight: bold;
}

.c-btn:hover {
    color: #f3fcfe;
    background-image: -moz-linear-gradient(-60deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
    background-image: -webkit-linear-gradient(-60deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
    background-image: -ms-linear-gradient(-60deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
}

/*Header*/
.top-header {
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.949;
    box-shadow: 0px 10px 90px 0px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse {
    padding-top: 25px;
}

.logo-desk {
    display: inline-block;
    width: 280px;
}

.logo-desk img {
    max-width: 100%;
    height: auto;
}

.navbar-inverse .navbar-nav > li > a {
    line-height: 47px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li.c-btn {
    margin-left: 38px;
}

.navbar-inverse .navbar-nav > li.c-btn > a {
    color: white;
}

.navbar-inverse .navbar-nav > li.c-btn > a:hover {
    color: white;
}

.navbar-nav {
    float: right;
    padding-top: 10px;
    font-weight: bold;
}

.nav > li:not(.c-btn) > a {
    padding-left: 21px;
    padding-right: 21px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #4c4d4f;
    transition: 0.5s;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ff5f19;
    transition: 0.5s;
}

/*Footer*/

/*Home*/
.home .home-slider  {
    height: 880px;
    width: 100%;
}

.home .slide-desc {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}

.home .slide img {
    width: 100%;
}

.home .slide-desc a {
    width: 173px;
}

.home .slide-desc h5 {
    font-size: 24px;
    font-weight: 300;
    color: #4d4e50;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0;
}

.home .slide-desc h1 {
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.778;
    text-shadow: 0px 16px 19.74px rgba(210, 210, 210, 0.5);
}

.home .slid-content {
    max-width: 475px;
}

.home .slid-content p {
    line-height: 29px;
}