/*
version:   1.0
date:      20/04/2017
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html, body {
    padding: 0;
    margin: 0;
    display: block;
    min-height: 100%;
}

* {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

*, *:hover, *:active, *:focus {
    outline: none;
    outline-offset: 0px;
}

a:hover, a:active, a:focus {
    text-decoration: none !important;
    cursor: pointer;
    outline: none;
    outline-offset: 0px;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {
    margin: 0px;
}

/*cards hover effect start*/
.green-card-hover,
.red-card-hover,
.purple-card-hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.green-card-hover:hover {
    background-image: -moz-linear-gradient(90deg, rgb(152, 144, 227) 0%, rgb(177, 244, 207) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(152, 144, 227) 0%, rgb(177, 244, 207) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(152, 144, 227) 0%, rgb(177, 244, 207) 100%);
}

.red-card-hover:hover {
    background-image: -moz-linear-gradient(0deg, rgb(247, 140, 160) 0%, rgb(249, 116, 143) 19%, rgb(253, 134, 140) 60%, rgb(254, 154, 139) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(247, 140, 160) 0%, rgb(249, 116, 143) 19%, rgb(253, 134, 140) 60%, rgb(254, 154, 139) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(247, 140, 160) 0%, rgb(249, 116, 143) 19%, rgb(253, 134, 140) 60%, rgb(254, 154, 139) 100%);
}

.purple-card-hover:hover {
    background-image: -moz-linear-gradient(90deg, rgb(235, 192, 253) 0%, rgb(217, 222, 216) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(235, 192, 253) 0%, rgb(217, 222, 216) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(235, 192, 253) 0%, rgb(217, 222, 216) 100%);
}

.green-card-hover .overlay,
.red-card-hover .overlay,
.purple-card-hover .overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.green-card-hover:hover .overlay,
.red-card-hover:hover .overlay,
.purple-card-hover:hover .overlay {
    opacity: 1;
}

.green-card-hover figure img,
.red-card-hover figure img,
.purple-card-hover figure img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    backface-visibility: hidden;
}

.green-card-hover:hover figure img,
.red-card-hover:hover figure img,
.purple-card-hover:hover figure img {
    opacity: 0.08;
}

.green-card-hover:hover .bg-rotate:after,
.red-card-hover:hover .bg-rotate:after,
.purple-card-hover:hover .bg-rotate:after {
    -webkit-animation: card-hover-in 0.5s;
    -moz-animation: card-hover-in 0.5s;
    -o-animation: card-hover-in 0.5s;
    animation: card-hover-in 0.5s;
}

.green-card-hover .bg-rotate:after,
.red-card-hover .bg-rotate:after,
.purple-card-hover .bg-rotate:after {
    -webkit-animation: card-hover-out 0.5s;
    -moz-animation: card-hover-out 0.5s;
    -o-animation: card-hover-out 0.5s;
    animation: card-hover-out 0.5s;
}

@-webkit-keyframes card-hover-in {
    0% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes card-hover-in {
    0% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes card-hover-in {
    0% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes card-hover-in {
    100% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes card-hover-out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@-moz-keyframes card-hover-out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@-o-keyframes card-hover-out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes card-hover-out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

/*cards hover effect end*/

/*cards zoom effect end*/
.zoom-effect figure {
    overflow: hidden;
}

.zoom-effect figure img {
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}

.zoom-effect:hover img {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

/*cards zoom effect end*/

/*lazy loading classes start*/
.lazy-loader {
    /*background:url(loading.gif) 50% 50% no-repeat #fafafa;*/
    background: #f1f1f1;
}

.lazy-loader-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: e 1.2s infinite ease-in-out; /* Safari 4+ */
    -moz-animation: e 1.2s infinite ease-in-out; /* Fx 5+ */
    -o-animation: e 1.2s infinite ease-in-out; /* Opera 12+ */
    animation: e 1.2s infinite ease-in-out; /* IE 10+, Fx 29+ */
    border-radius: 3px;
    background-color: #007cc5;
}

.lazy-not-loaded {
    text-indent: -9999px
}

@-webkit-keyframes e {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-moz-keyframes e {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-o-keyframes e {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes e {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*lazy loading classes end*/

/*effect start*/

.fadeIn {
    -webkit-animation: fadeIn 2s; /* Safari 4+ */
    -moz-animation: fadeIn 2s; /* Fx 5+ */
    -o-animation: fadeIn 2s; /* Opera 12+ */
    animation: fadeIn 2s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*effect end*/

section.ca-page-header {
    min-height: 792px;
    background-size: cover;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

section.ca-page-header .container {
    align-self: center;
}

section.ca-page-header p {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

section.ca-page-header .title {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

section.ca-page-header .sub-title {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
}

section.ca-page-banner {
    position: relative;
    background: #81c0ee;
    min-height: 222px;
    max-height: 222px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

section.ca-page-banner .vertical-line {
    border-left: 1px solid #ff6a28;
    width: 1px;
    height: 90px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.ca-page-banner .container {
    align-self: center;
}

section.ca-page-banner p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 38px;
}

/*General*/

.c-btn {
    display: inline-block;
    color: #f3fcfe;
    text-align: center;
    border-radius: 4px;
    /*background-image: -moz-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);*/
    /*background-image: -webkit-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);*/
    /*background-image: -ms-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);*/
    box-shadow: 0px 16px 19.74px 1.26px rgba(110, 110, 110, 0.2);
    width: 153px;
    height: 47px;
    line-height: 47px;
    font-weight: bold;

    /*new effect*/
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%), -webkit-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
    background-image: -moz-linear-gradient(top left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%), -moz-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);
    background-image: -ms-linear-gradient(top left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%), -ms-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);

    background-position: 100% -75px, 0 0;

    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;

    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.c-btn:hover {
    color: #f3fcfe !important;
    /*background-image: -moz-linear-gradient(-60deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%) !important;*/
    /*background-image: -webkit-linear-gradient(-60deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%) !important;*/
    /*background-image: -ms-linear-gradient(-60deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%) !important;*/
    /*new effect*/
    background-image: -webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%
    ),
    -webkit-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);

    background-image: -moz-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%
    ),
    -moz-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);

    background-image: -ms-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%
    ),
    -ms-linear-gradient(0deg, rgb(255, 93, 22) 0%, rgb(255, 156, 112) 100%);

    background-position: 0 0, 0 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.c-rbtn {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top left, rgba(255, 93, 22, 0.2) 0%, rgba(255, 93, 22, 0.2) 37%, rgba(255, 93, 22, 0.8) 45%, rgba(255, 93, 22, 0.0) 50%), -webkit-linear-gradient(0deg, #ffffff 0%, rgb(255, 255, 255) 100%);
    background-image: -moz-linear-gradient(top left, rgba(255, 93, 22, 0.2) 0%, rgba(255, 93, 22, 0.2) 37%, rgba(255, 93, 22, 0.8) 45%, rgba(255, 93, 22, 0.0) 50%), -moz-linear-gradient(0deg, #ffffff 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top left, rgba(255, 93, 22, 0.2) 0%, rgba(255, 93, 22, 0.2) 37%, rgba(255, 93, 22, 0.8) 45%, rgba(255, 93, 22, 0.0) 50%), -ms-linear-gradient(0deg, #ffffff 0%, rgb(255, 255, 255) 100%);
    background-position: 100% -75px, 0 0;

    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;

    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;
    -o-transition: background-position 0s ease;

    transition: background-position 0s ease;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.c-rbtn:hover {
    background-image: -webkit-linear-gradient(top left, rgba(255, 93, 22, 0.2) 0%, rgba(255, 93, 22, 0.2) 37%, rgba(255, 93, 22, 0.5) 45%, rgba(255, 93, 22, 0.0) 50%), -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -moz-linear-gradient(top left, rgba(255, 93, 22, 0.2) 0%, rgba(255, 93, 22, 0.2) 37%, rgba(255, 93, 22, 0.5) 45%, rgba(255, 93, 22, 0.0) 50%), -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top left, rgba(255, 93, 22, 0.2) 0%, rgba(255, 93, 22, 0.2) 37%, rgba(255, 93, 22, 0.5) 45%, rgba(255, 93, 22, 0.0) 50%), -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-position: 0 0, 0 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.view-all a {
    transition: 0.3s;
}

.view-all a:hover {
    color: #ff6b2a !important;
    transition: 0.3s;
}

/*Header*/
.top-header.small .navbar-inverse {
    padding-top: 0;
    margin-bottom: 0;
}

.top-header.small img {
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.top-header.small img.img-float {
    visibility: visible;
    width: 58px;
    right: 100%;
    left: 0;
    top: 3px;
    opacity: 1;
    transition: all 1s;
}

.img-float {
    visibility: hidden;
    opacity: 0;
    width: 42px;
    position: absolute;
    right: 0;
    left: 86%;
    top: -3px;
    transition: all 1s;
}

header, nav, header img {
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}

.top-header {
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.949;
    box-shadow: 0px 10px 90px 0px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    padding-top: 25px;
}

.logo-desk {
    display: inline-block;
    width: 280px;
    position: relative;
}

.logo-desk img {
    max-width: 100%;
    height: auto;
}

.navbar-inverse .navbar-nav > li > a {
    line-height: 47px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li.c-btn {
    margin-left: 38px;
}

.navbar-inverse .navbar-nav > li.c-btn > a {
    color: white;
}

.navbar-inverse .navbar-nav > li.c-btn > a:hover {
    color: white;
}

.navbar-nav {
    float: right;
    padding-top: 10px;
    font-weight: bold;
}

.nav > li:not(.c-btn) > a {
    padding-left: 21px;
    padding-right: 21px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #4c4d4f;
    transition: 0.5s;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ff5f19;
    transition: 0.5s;
}

/*Footer*/

/*Home*/

.home .home-slider {
    width: 100%;
}

.home .slider-container,
.home .home-slider,
.slick-list {
    height: 100vh;
}

.home .slide-desc {
    position: absolute;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    transform: translate(0, -60%);
}

.home .slide {
    position: relative;
}

.home .slide-desc a {
    width: 173px;
    margin-top: 25px;
}

.home .slide-desc h5 {
    font-size: 24px;
    font-weight: 300;
    color: #4d4e50;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0;
}

.home .slide-desc h1 {
    margin-top: 7px;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.778;
    text-shadow: 0px 16px 19.74px rgba(110, 110, 110, 0.2);
}

.home .slid-content {
    max-width: 475px;
}

.home .slid-content p {
    line-height: 29px;
    margin-top: 22px;
}

.home .showcase {
    background-image: -moz-linear-gradient(0deg, rgb(36, 57, 73) 0%, rgb(81, 127, 164) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(36, 57, 73) 0%, rgb(81, 127, 164) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(36, 57, 73) 0%, rgb(81, 127, 164) 100%);
    min-height: 248px;
    text-align: center;
    color: white;
    padding: 40px 0;
}

.home .showcase p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.home .showcase > p:first-child {
    letter-spacing: 1.92px;
}

.home .showcase a {
    max-width: 390px;
    width: 100%;
    height: auto;
    padding: 15px 0 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin: 25px 0;
}

.home .showcase a:hover {
    /*background-image: -moz-linear-gradient(-30deg, rgb(255, 93, 22) 0%, rgb(236, 125, 76) 100%);*/
    /*background-image: -webkit-linear-gradient(-30deg, rgb(255, 93, 22) 0%, rgb(236, 125, 76) 100%);*/
    /*background-image: -ms-linear-gradient(-30deg, rgb(255, 93, 22) 0%, rgb(236, 125, 76) 100%);*/
}

.home .showcase a span {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 2.933;
    color: rgb(118, 55, 26);
    letter-spacing: 0.75px;
    display: block;
}

.home .clients {
    text-align: center;
}

.home .clients .client-row a:first-child {
    margin-left: 0;
}

.home .clients .client-row a:last-child {
    margin-right: 0;
}

.home .clients .container {
    padding: 60px 0;
}

.home .clients .item {
    width: 100px;
    height: 70px;
    display: inline-block;
    margin: 0 36px;
}

.home .clients .view-all {
    text-align: center;
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(232, 243, 247);
}

.home .clients .view-all a {
    line-height: 70px;
    font-size: 14px;
    font-weight: bold;
    color: #202020;
    display: inline-block;
}

.home .what-we-do .row > div {
    min-height: 385px;
    padding: 0
}

.home .what-we-do .row > div > a {
    padding: 33px 15px 15px 33px;
    display: block;
    color: black;
    min-height: 380px;
    height: 100%;
}

.home .what-we-do .row p {
    color: #5d5f74;
    font-size: 16px;
    line-height: 1.875;
    padding-bottom: 75px;
}

.home .what-we-do img {
    width: 70px;
}

.home .what-we-do .row > div:first-child {
    border-top: 3px solid rgb(255, 161, 6);
}

.home .what-we-do .row > div:first-child a {
    border-right: 0.5px solid rgb(231, 243, 247);
    padding-left: 15px;
}

.home .what-we-do .row > div:first-child p {
    padding-right: 25px;
}

.home .what-we-do .row > div:nth-child(2) {
    border-top: 3px solid rgb(37, 169, 198);
    transition: 1s;
}

.home .what-we-do .row > div:last-child a {
    border-left: 0.5px solid rgb(231, 243, 247);
}

.home .what-we-do .row > div:nth-child(2) a {
    border-right: 0.5px solid rgb(231, 243, 247);
    border-left: 0.5px solid rgb(231, 243, 247);
}

.home .what-we-do .row > div:last-child {
    border-top: 3px solid rgb(255, 94, 24);
}

/*.home .what-we-do .row > div:nth-child(2):hover {*/
/*box-shadow: inset 0 0 100px 0px rgbA(37, 169, 198, 0.5);*/
/*transition: 0.5s;*/
/*}*/

.home .what-we-do .more {
    bottom: 39px;
    position: absolute;
    width: 39px;
    height: 18px;
}

.home .what-we-do h1 {
    margin-bottom: 19px;
    margin-top: 8px;
    font-size: 26px;
    line-height: 1.308;

}

.home .what-we-do {
    position: relative;
}

.home .what-we-do .view-all {
    text-align: center;
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(232, 243, 247);
}

.home .what-we-do .view-all a {
    line-height: 70px;
    font-size: 14px;
    font-weight: bold;
    color: #202020;
    display: inline-block;
}

.home .what-we-do:before {
    background: linear-gradient(to right, #ffa106 25%, #ffa106 25%, #ffa106 50%, #ff5e18 50%, #ff5e18 75%, #ff5e18 75%);
    position: absolute;
    content: '';
    height: 3px;
    right: 0;
    left: 0;
    top: 0;
    display: block;
}

.home .showyou .view-all {
    text-align: center;
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(232, 243, 247);
}

.home .showyou .view-all a {
    line-height: 70px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    color: #3c566a;
    background: url("../../img/viewall.png") no-repeat left;
    background-size: 37px 31px;
    padding-left: 50px;
}

.home .showyou .img-project {
    width: 100%;
    height: auto;
}

.home .showyou .container {
    margin-top: -300px;
    margin-bottom: 29px;
    color: white;
}

.home .showyou .projects img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 15px;
}

.home .showyou .projects > div:hover img {
    opacity: 0.1;
    transition: 0.3s;
}

.home .showyou .project-info a {
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    text-transform: uppercase;
    display: block;
    color: white;
    text-align: center;
    background-color: rgb(255, 97, 28);
}

.home .showyou a.project-link {
    float: right;
    background: url(../../img/link.png) no-repeat bottom center;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.home .showyou .project-info a:hover:not(.project-link) {
    background-color: rgba(255, 97, 28, 0.9);
    transition: 0.3s;
}

.home .showyou .project-info h5 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
}

.home .showyou .project-info h6 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 14px;
}

.home .showyou .projects {
    margin-top: 21px;
}

.home .showyou .projects a {
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    color: white;
    right: 0;
    left: 0;
    visibility: hidden;
}

.home .showyou .projects > div:hover a {
    visibility: visible;
    transition: 0.3s;
}

.home .showyou .projects a > div {
    position: relative;
    top: 50%;
    bottom: 0;
    transform: translate(0, -50%);
    /*background: url("../../img/link.png") no-repeat bottom center;*/
    /*background-size: 60px 60px;*/
    /*padding-bottom: 81px;*/
}

.home .showyou .projects > div:hover .bg-rotate:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 0.5s;
}

.home .showyou .projects a > div h5 {
    font-size: 24px;
    font-weight: 500;
}

.home .showyou .projects a > div h6 {
    font-size: 14px;
    font-weight: 500;
}

.home .showyou .projects > div {
    height: 371px;
    padding: 15px;
}

.home .showyou .projects > div:first-child {
    background-image: -moz-linear-gradient(90deg, rgb(152, 144, 227) 0%, rgb(177, 244, 207) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(152, 144, 227) 0%, rgb(177, 244, 207) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(152, 144, 227) 0%, rgb(177, 244, 207) 100%);
}

.home .showyou .projects > div:nth-child(2) {
    background-image: -moz-linear-gradient(90deg, rgb(235, 192, 253) 0%, rgb(217, 222, 216) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(235, 192, 253) 0%, rgb(217, 222, 216) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(235, 192, 253) 0%, rgb(217, 222, 216) 100%);

}

.home .showyou .projects > div:last-child {
    background-image: -moz-linear-gradient(0deg, rgb(247, 140, 160) 0%, rgb(249, 116, 143) 19%, rgb(253, 134, 140) 60%, rgb(254, 154, 139) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(247, 140, 160) 0%, rgb(249, 116, 143) 19%, rgb(253, 134, 140) 60%, rgb(254, 154, 139) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(247, 140, 160) 0%, rgb(249, 116, 143) 19%, rgb(253, 134, 140) 60%, rgb(254, 154, 139) 100%);

}

.home .team {
    background: url("../../img/team.jpg") no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 63px;
}

.home .team .title h1 {
    font-size: 74px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.946;
}

.home .team .title p {
    font-size: 23px;
    line-height: 2.609;
    text-align: center;
    font-weight: 300;
    margin-top: 5px;
}

.home .team .department a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.25;
    text-align: center;
    display: inline-block;
    color: white;
}

.home .team .department a:not(.active) {
    opacity: 0.5;
}

.home .team .department div:hover:not(.active) {
    opacity: 1;
}

.home .team .department a:nth-child(2) {
    margin: 0 102px;
}

.home .team .department img {
    display: block;
    margin: 0 auto;
}

.home .team .members {
    margin-top: 50px;
}

.home .team .members > div {
    padding: 0;
    height: 280px;
    overflow: hidden;
}

.home .team .members .member-info {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translate(0, -50%);
    visibility: hidden;
    width: 100%;
    opacity: 0;
}

.home .team .members .member-info h5 {
    font-size: 33px;
    font-weight: bold;
}

.home .team .members .member-info h6 {
    font-size: 18px;
}

.home .team .members img {
    width: 100%;
    height: 100%;
    float: left;
}

.home .team .members > div:hover img {
    visibility: hidden;
}

.home .team .members > div:hover .member-info {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}

.home .team .join a {
    border-radius: 4px;
    box-shadow: 0px 16px 19.74px 1.26px rgba(0, 0, 0, 0.1);
    width: 153px;
    height: 47px;
    line-height: 47px;
    font-size: 14px;
    color: rgb(255, 97, 27);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 40px auto 0;
}

.home .team .join h2 {
    font-size: 36px;
    margin-top: 72px;
    font-weight: 300;
    text-align: center;
}

.home .contact {
    width: 100%;
}

.home .contact .container-fluid {
    width: 585px;
    padding-top: 35px;
}

.home .contact .address .container-fluid {
    margin-right: 0;
}

.home .contact > div {
    padding: 0;
}

.home .contact #map {
    width: 100%;
    height: 850px;
}

.home .contact .address {
    background-image: -moz-linear-gradient(110deg, rgba(252, 96, 118, 0.851) 0%, rgba(255, 154, 68, 0.851) 100%);
    background-image: -webkit-linear-gradient(110deg, rgba(252, 96, 118, 0.851) 0%, rgba(255, 154, 68, 0.851) 100%);
    background-image: -ms-linear-gradient(110deg, rgba(252, 96, 118, 0.851) 0%, rgba(255, 154, 68, 0.851) 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 306px;
    color: white;
}

.home .contact .address a {
    font-size: 14px;
    color: rgb(255, 97, 27);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 153px;
    height: 47px;
    box-shadow: 0px 16px 19.74px 1.26px rgba(0, 0, 0, 0.1);
    line-height: 47px;
    display: block;
    margin-top: 60px;
    margin-left: 5px;
    border-radius: 4px;
}

.home .contact .address a:hover {
    background-color: rgb(251, 249, 249);
}

.home .contact .address h6 {
    background: url("../../img/white-ca-icon@3x.svg") no-repeat left top;
    background-size: 42px 43px;
    padding: 16px 45px;
    padding-left: 65px;
    padding-bottom: 27px;
    padding-top: 5px;
    margin-bottom: 0;
}

.home .contact .address p {
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 1.714;
    text-align: left;
    padding-left: 27px;
    margin-top: 20px;
}

.home .contact .address .details {
    padding-left: 65px;
    margin-top: 0 !important;
}

.home .contact p.address-details {

    background: url("../../img/address-pin-white-icon@3x.svg") no-repeat left 5px;
    background-size: 15px 20px;
    margin-top: 0;
    line-height: 24px;

}

.home .contact p.mob {
    background: url("../../img/mobile-white-icon@3x.svg") no-repeat left center;
    background-size: 10px 18px;

}

.home .contact p.phone {
    background: url("../../img/phone-white-icon@3x.svg") no-repeat left center;
    background-size: 18px 18px;
}

.home .contact .form {
    padding-left: 70px;
}

.home .contact .form .container-fluid {
    margin-left: 0;
    padding-top: 115px;
}

.home .contact .form h1 {
    font-size: 74px;
    color: rgb(255, 97, 27);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.946;
    margin-bottom: 103px;
    letter-spacing: 7.4px;
}

.home .contact .form label {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.778;
    padding-left: 7px;
    font-weight: 400;
    margin-bottom: 0;
}

.home .contact .form-group {
    max-width: 234px;
    width: 100%;
    display: inline-block;
    text-align: left;
    position: relative;
}

.home .contact .form-group:first-child {
    margin-right: 35px;
}

.home .contact .form input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.home .contact .form-group.note {
    max-width: 504px;
    margin-top: 60px;
    margin-bottom: 56px;
}

.home .contact .form button {
    border: none;
    width: 100%;
    max-width: 504px;
    font-size: 14px;
    font-weight: bold;

}

.home .contact .copyright img {
    width: 236px;
}

.home .contact .copyright {
    padding-left: 85px;
    font-size: 12px;
    color: rgb(187, 187, 187);
    text-transform: uppercase;
    line-height: 2.667;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid rgb(243, 243, 243);
    padding-top: 17px;
    padding-bottom: 35px;
}

.home .contact ::-webkit-input-placeholder {
    color: black;
}

.home .contact ::-moz-placeholder {
    color: black;
}

.home .contact :-ms-input-placeholder {
    color: black;
}

.home .contact :-moz-placeholder {
    color: black;
}

/*services*/

section.services {
    padding-bottom: 62px;
}

section.services .service-item {
    margin-top: 68px;
    padding: 0 10px;
}

.page-template-services section.services .service-item.col-lg-left {
    padding-left: 0px;
    padding-right: 54px;
}

.page-template-services section.services .service-item.col-lg-center {
    padding-left: 36px;
    padding-right: 36px;
}

.page-template-services section.services .service-item.col-lg-right {
    padding-left: 45px;
    padding-right: 0;
}

section.services .service-item a {
    color: #5d5f74;
}

section.services .service-item a:hover {
    color: #5d5f74;
}

section.services .service-item .icon {
    height: 54px;
    margin-bottom: 17px;
}

section.services .service-item .description {
    min-height: 160px;
    max-height: 160px;
}

section.services .service-item .description,
section.services .service-item p {
    color: #5d5f74;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: left !important;
    text-align: -moz-left !important;
    text-align: -webkit-left !important;
}

section.services .service-item .title {
    color: #202020;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 22px;
    margin-top: 0;
}

section.services .service-item .more {
    width: 39px;
    height: 18px;
}

a.btn-view-all-show-cases.c-btn {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 30px 0px;
    margin-top: 75px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    line-height: 20px;
    /*background-image: -moz-linear-gradient( 0deg, rgb(255,93,22) 0%, rgb(255,156,112) 100%);*/
    /*background-image: -webkit-linear-gradient( 0deg, rgb(255,93,22) 0%, rgb(255,156,112) 100%);*/
    /*background-image: -ms-linear-gradient( 0deg, rgb(255,93,22) 0%, rgb(255,156,112) 100%);*/
    /*box-shadow: 0px 16px 19.74px 1.26px rgba(210, 210, 210, 0.5);*/
}

section.some-of-show-cases {
    min-height: 610px;
    background-size: cover;
    height: 100%;
    /*margin-top: 62px;*/
    border-top: solid #f0f0f0 1px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

section.some-of-show-cases .show-case-item {
    padding: 0 5px;
    position: relative;
    height: 380px;
    /*width: 380px;*/
    /*margin: 0 5px;*/
}

section.some-of-show-cases h1 {
    color: #666666;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 85px;
    margin-bottom: 54px;
}

section.some-of-show-cases .show-case-item figure {
    height: 100%;
    width: 100%;
}

.page-template-services section.some-of-show-cases .show-case-item.col-lg-left {
    padding-left: 0;
    padding-right: 10px;
}

.page-template-services section.some-of-show-cases .show-case-item.col-lg-center {
    padding: 0 5px;
}

.page-template-services section.some-of-show-cases .show-case-item.col-lg-right {
    padding-left: 10px;
    padding-right: 0px;
}

section.some-of-show-cases .overlay h1,
section.some-of-show-cases .overlay h2,
section.some-of-show-cases .overlay h3,
section.some-of-show-cases .overlay h4,
section.some-of-show-cases .overlay h5,
section.some-of-show-cases .overlay h6,
section.some-of-show-cases .overlay p {
    color: #ffffff;
    font-size: 14px;
}

section.some-of-show-cases .overlay h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 13px;
}

section.some-of-show-cases .overlay h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 31px;
}

/*Footer*/

.prefooter {
    background: url("../../img/prefooter.jpg") no-repeat center;
    background-size: cover;
    min-height: 357px;
    color: white;
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
}

.prefooter h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    margin: 0;
}

.prefooter p {
    font-size: 26px;
    line-height: 2;
}

.prefooter a {
    width: 269px;
    height: 54px;
    margin-top: 38px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 54px;
    text-align: center;
}

/*General*/
.col-eq-height {
    display: table;
}

.col-eq-height [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

.gradient-purple {
    background-image: -moz-linear-gradient(45deg, rgb(246, 200, 246) 0%, rgb(218, 221, 250) 50%, rgb(241, 244, 249) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(246, 200, 246) 0%, rgb(218, 221, 250) 50%, rgb(241, 244, 249) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(246, 200, 246) 0%, rgb(218, 221, 250) 50%, rgb(241, 244, 249) 100%);
}

.gradient-pink {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgb(226, 197, 139) 0%, rgb(194, 206, 156) 0%, rgb(228, 175, 203) 0%, rgb(184, 203, 184) 0%, rgb(252, 182, 159) 0%, rgb(255, 236, 210) 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgb(226, 197, 139) 0%, rgb(194, 206, 156) 0%, rgb(228, 175, 203) 0%, rgb(184, 203, 184) 0%, rgb(252, 182, 159) 0%, rgb(255, 236, 210) 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgb(226, 197, 139) 0%, rgb(194, 206, 156) 0%, rgb(228, 175, 203) 0%, rgb(184, 203, 184) 0%, rgb(252, 182, 159) 0%, rgb(255, 236, 210) 100%);
}

.gradient-green {
    background-image: -moz-linear-gradient(30deg, rgb(171, 236, 214) 0%, rgb(251, 237, 150) 100%);
    background-image: -webkit-linear-gradient(30deg, rgb(171, 236, 214) 0%, rgb(251, 237, 150) 100%);
    background-image: -ms-linear-gradient(30deg, rgb(171, 236, 214) 0%, rgb(251, 237, 150) 100%);
}

/*Animation*/
.rotate {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.rotate:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bg-rotate:after {
    background: url(../../img/link.png) no-repeat bottom center;
    background-size: 60px 60px;
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.home .team .members > div:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

.home .team .members > div:hover:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

/*Mobile layout*/

@media (min-width: 1200px) {
    .home .slide img {
        width: 100%;
        height: auto;
    }
}

/*md*/
@media (min-width: 768px) and (max-width: 1200px) {
    /*.container{background: red; z-index: 5}*/
    .page-template-services section.services .service-item.col-md-left {
        padding-left: 0px;
        padding-right: 18px;
    }

    .page-template-services section.services .service-item.col-md-center {
        padding-left: 18px;
        padding-right: 18px;
    }

    .page-template-services section.services .service-item.col-md-right {
        padding-left: 18px;
        padding-right: 0;
    }
}

/*sm*/
@media (min-width: 768px) and (max-width: 992px) {
    /*.container{background: yellow; z-index: 5}*/
    section.services .service-item {
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
    }

    section.services .service-item p {
        text-align: center !important;
        text-align: -moz-center !important;
        text-align: -webkit-center !important;
    }

    .page-template-services section.services .service-item.col-sm-left {
        padding-left: 18px;
        padding-right: 18px;
    }

    .page-template-services section.services .service-item.col-sm-center {
        padding-left: 18px;
        padding-right: 18px;
    }

    .page-template-services section.services .service-item.col-sm-right {
        padding-left: 18px;
        padding-right: 18px;
    }

    .page-template-services section.some-of-show-cases .show-case-item.col-sm-left {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .page-template-services section.some-of-show-cases .show-case-item.col-sm-center {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .page-template-services section.some-of-show-cases .show-case-item.col-sm-right {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

}

/*xs*/
@media (max-width: 768px) {
    /*.container{background: green; z-index: 5}*/
    section.services .service-item {
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
    }

    section.services .service-item p {
        text-align: center !important;
        text-align: -moz-center !important;
        text-align: -webkit-center !important;
    }

    .page-template-services section.services .service-item.col-xs-left {
        padding-left: 18px;
        padding-right: 18px;
    }

    .page-template-services section.services .service-item.col-xs-center {
        padding-left: 18px;
        padding-right: 18px;
    }

    .page-template-services section.services .service-item.col-xs-right {
        padding-left: 18px;
        padding-right: 18px;
    }

    .page-template-services section.some-of-show-cases .show-case-item.col-xs-left {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .page-template-services section.some-of-show-cases .show-case-item.col-xs-center {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .page-template-services section.some-of-show-cases .show-case-item.col-xs-right {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
}

/*xs*/
/* Extra Small Devices, Phones */
@media (max-width: 480px) {
    /*.container{background: purple; z-index: 5}*/
    section.ca-page-banner p {
        font-size: 20px;
        line-height: 30px;
    }
}

/*xs*/
/* Custom, iPhone Retina */
@media (max-width: 320px) {
    /*.container{background: orange; z-index: 5}*/
}